Exology-AI-Finance-Recorder/workflows/Exology - Health Score.json
{
  "name": "Exology - Health Score",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d8f12f29-eea0-4328-9bd9-1599e9c4dca0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4",
          "mode": "list",
          "cachedResultName": "Ai sprint",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "1ca5f312-a854-4b70-8968-f5b0483823ad",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3DdXAeon8i3rKurs",
          "name": "Exology Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst now = Date.now();\nconst thirtyDays = 30 * 24 * 60 * 60 * 1000;\n\nconst recent = rows.filter(r => {\n  const ts = new Date(r.json.timestamp).getTime();\n  return (now - ts) < thirtyDays;\n});\n\nlet totalIncome = 0, totalExpense = 0;\nconst categories = {};\n\nrecent.forEach(r => {\n  const amount = parseFloat(r.json.amount) || 0;\n  if (r.json.type === 'income') totalIncome += amount;\n  if (r.json.type === 'expense') totalExpense += amount;\n  \n  const cat = r.json.category || 'Unknown';\n  categories[cat] = (categories[cat] || 0) + amount;\n});\n\nconst netBalance = totalIncome - totalExpense;\nconst expenseToIncomeRatio = totalIncome > 0 \n  ? (totalExpense / totalIncome).toFixed(2) \n  : 'N/A';\n\nreturn [{\n  json: {\n    period: 'Last 30 days',\n    total_income: totalIncome,\n    total_expense: totalExpense,\n    net_balance: netBalance,\n    expense_to_income_ratio: expenseToIncomeRatio,\n    transaction_count: recent.length,\n    top_categories: JSON.stringify(categories),\n    generated_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "b12a361d-3495-49a2-abeb-cb6b854ba74a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=YOUR_GEMINI_API_KEY_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an AI CFO analyzing a small business financial health. Based on this 30-day summary, return ONLY a valid JSON object with no markdown: { \\\"health_score\\\": \\\"Healthy\\\" or \\\"Warning\\\" or \\\"Critical\\\", \\\"summary\\\": string (2 sentences max), \\\"recommendation_1\\\": string, \\\"recommendation_2\\\": string, \\\"recommendation_3\\\": string }. Financial data - Period: {{ $json.period }}, Total Income: {{ $json.total_income }} EGP, Total Expenses: {{ $json.total_expense }} EGP, Net Balance: {{ $json.net_balance }} EGP, Expense to Income Ratio: {{ $json.expense_to_income_ratio }}, Transaction Count: {{ $json.transaction_count }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        0
      ],
      "id": "9eb53db2-1789-44ef-8bca-63a20e189747",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.candidates[0].content.parts[0].text;\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  return [{ json: { error: true, raw_response: raw } }];\n}\n\nparsed.generated_at = new Date().toISOString();\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "5f40f38c-0df4-446a-b6a9-1011439ec9ce",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4",
          "mode": "list",
          "cachedResultName": "Ai sprint",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1827686982,
          "mode": "list",
          "cachedResultName": "Health_Scores",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit#gid=1827686982"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "health_score": "={{ $json.health_score }}",
            "summary": "={{ $json.summary }}",
            "recommendation_1": "={{ $json.recommendation_1 }}",
            "recommendation_2": "={{ $json.recommendation_2 }}",
            "recommendation_3": "={{ $json.recommendation_3 }}",
            "generated_at": "={{ $json.generated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "health_score",
              "displayName": "health_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation_1",
              "displayName": "recommendation_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation_2",
              "displayName": "recommendation_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation_3",
              "displayName": "recommendation_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "02d33750-33c3-4b4f-8684-7d454f600250",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3DdXAeon8i3rKurs",
          "name": "Exology Sheets"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=📊 Weekly Financial Health Report  🎯 Health Score: {{ $json.health_score }}  📝 {{ $json.summary }}  💡 Recommendations: 1. {{ $json.recommendation_1 }} 2. {{ $json.recommendation_2 }} 3. {{ $json.recommendation_3 }}  Generated: {{ $json.generated_at }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1184,
        0
      ],
      "id": "d974f015-72d5-45d4-b108-018b6a496c48",
      "name": "Send a text message",
      "webhookId": "04f3265c-acb0-48c7-9964-6b1baf477b91",
      "credentials": {
        "telegramApi": {
          "id": "86P3rqhc1A1AMSnr",
          "name": "Exology Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "390cafd7-f7e6-4019-838c-7a058fbc90b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd415e16a6e3852ca7b2fc0b48a0c90b42de8a586343674c595dca170404aa1d"
  },
  "id": "ROHvkMcjRBv3wLaz",
  "tags": []
}