Exology-AI-Finance-Recorder/workflows/Exology - Forecasting.json
{
  "name": "Exology - Forecasting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d09a6dc0-1b53-40e0-9439-2fb8accdef09",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4",
          "mode": "list",
          "cachedResultName": "Ai sprint",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Transactions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "1396c65b-f9d6-4560-b16f-99499d61eefd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3DdXAeon8i3rKurs",
          "name": "Exology Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\n\n// Get last 90 days\nconst now = Date.now();\nconst ninetyDays = 90 * 24 * 60 * 60 * 1000;\n\nconst recent = rows.filter(r => {\n  const ts = new Date(r.json.timestamp).getTime();\n  return (now - ts) < ninetyDays;\n});\n\n// Calculate daily averages\nlet totalIncome = 0, totalExpense = 0;\nrecent.forEach(r => {\n  const amount = parseFloat(r.json.amount) || 0;\n  if (r.json.type === 'income') totalIncome += amount;\n  if (r.json.type === 'expense') totalExpense += amount;\n});\n\nconst days = Math.max(recent.length > 0 ? 90 : 1, 1);\nconst avgDailyIncome = totalIncome / days;\nconst avgDailyExpense = totalExpense / days;\nconst avgDailyNet = avgDailyIncome - avgDailyExpense;\n\n// Project 30 days\nconst forecasts = [];\nfor (let i = 1; i <= 30; i++) {\n  const date = new Date(now + i * 24 * 60 * 60 * 1000);\n  forecasts.push({\n    json: {\n      forecast_date: date.toISOString().split('T')[0],\n      projected_income: Math.round(avgDailyIncome * i),\n      projected_expense: Math.round(avgDailyExpense * i),\n      projected_balance: Math.round(avgDailyNet * i),\n      cash_drought: avgDailyNet < 0,\n      generated_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn forecasts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "dc089dd8-28cb-40df-8057-543c7ad2364c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4",
          "mode": "list",
          "cachedResultName": "Ai sprint",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 660576523,
          "mode": "list",
          "cachedResultName": "Forecasts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/119LsTEEgaJfmMETDke7P_0ldZBZgAx1l3l_2w-WXJq4/edit#gid=660576523"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "forecast_date": "={{ $json.forecast_date }}",
            "projected_income": "={{ $json.projected_income }}",
            "predicted_expenses": "={{ $json.projected_expense }}",
            "predicted_balance": "={{ $json.projected_balance }}",
            "cash_drought": "={{ $json.cash_drought }}",
            "generated_at": "={{ $json.generated_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "forecast_date",
              "displayName": "forecast_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "projected_income",
              "displayName": "projected_income",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "predicted_expenses",
              "displayName": "predicted_expenses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "predicted_balance",
              "displayName": "predicted_balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cash_drought",
              "displayName": "cash_drought",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generated_at",
              "displayName": "generated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "65d7fa1b-4f3c-452a-bbdb-1b70e05a8c9e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3DdXAeon8i3rKurs",
          "name": "Exology Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4e84ade-77a6-4db7-b39e-e19f014cb7aa",
              "leftValue": "={{ $json.cash_drought.toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "2097e547-b1f9-4820-be73-7dc141a273cf",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=YOUR_TELEGRAM_CHAT_ID",
        "text": "=⚠️ Cash Drought Alert\n\nBased on the last 90 days, your business is projected to run a negative balance by {{ $json.forecast_date }}.\n\n📉 Projected 30-day Income: {{ $json.projected_income }} EGP\n📈 Projected 30-day Expense: {{ $json.projected_expense }} EGP\n💰 Projected Balance: {{ $json.projected_balance }} EGP\n\nReview your expenses now to avoid a cash crisis.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -32
      ],
      "id": "c9ac8850-173f-403e-ad64-6678a0197244",
      "name": "Send a text message",
      "webhookId": "0e5e6e66-c089-409b-9b08-e6a29aca0923",
      "credentials": {
        "telegramApi": {
          "id": "86P3rqhc1A1AMSnr",
          "name": "Exology Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst last = items[items.length - 1].json;\n\nreturn [{\n  json: {\n    projected_income: last.projected_income,\n    projected_expense: last.predicted_expenses,\n    projected_balance: last.predicted_balance,\n    forecast_date: last.forecast_date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -64
      ],
      "id": "ed4ad8b9-6d60-4e31-90f6-416d7d6c05e2",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Daily Forecast Complete\n\nNo cash drought detected. Cash flow looks stable through {{ $json.forecast_date }}.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        144
      ],
      "id": "b19bb80f-18f0-4b97-8aa3-912bbe72de40",
      "name": "Send a text message1",
      "webhookId": "989ea5ce-31b2-462e-bf1c-0c4d586b05ff",
      "credentials": {
        "telegramApi": {
          "id": "86P3rqhc1A1AMSnr",
          "name": "Exology Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst last = items[items.length - 1].json;\n\nreturn [{\n  json: {\n    forecast_date: last.forecast_date\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        144
      ],
      "id": "b16a8372-e2f0-41f6-b994-97075937af57",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7877b94e-31f6-48e3-89c5-5c3acf8a888b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd415e16a6e3852ca7b2fc0b48a0c90b42de8a586343674c595dca170404aa1d"
  },
  "id": "kc3LMI28SjGsINnQ",
  "tags": []
}